# Exclude unnecessary files and directories
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp
*.log
*.csv
*.png
*.jpg
*.jpeg
*.gif
*.md
*.pdf
*.DS_Store
.idea/
.vscode/
.git/
logs/
plots/
results/
pruned_models/
.venv/

# Ignore all contents of `raw_model` except one model folder
raw_model/*
!raw_model/models--Qwen--Qwen2.5-7B-Instruct
!raw_model/models--Qwen--Qwen2.5-7B-Instruct/**